@font-face {
  font-family: Arial;
  font-display: swap;
  src: url(../fonts/Arial.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icomoon.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-phone:before {
  content: ""
}
.icon-circle:before {
  content: ""
}
.icon-check:before {
  content: ""
}
.icon-face:before {
  content: ""
}
.icon-inst:before {
  content: ""
}
.icon-vk:before {
  content: ""
}
.icon-mail:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Oswald,serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Oswald,serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,76.25rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
label {
  cursor: pointer
}
.baner,
.check-inputs__inputbox label,
.check-inputs__inputbox label::before,
.creator-info,
.footer__body,
.menu,
.menu__body,
.menu__list,
.product-list__specs,
.program__link,
.program__titlebox,
.progress,
.progress-gallery__controls,
.progress__box,
.progress__thumb,
.radio-inputs__inputbox label,
.radio-inputs__inputbox label::before,
.social-list,
.specs__item,
.text-inputs__inputbox,
.usage__picture {
  display: flex;
  align-items: center
}
.baner,
.card__info,
.form__inputs,
.location__address,
.location__title,
.main-titlebox,
.program__article,
.progress-gallery,
.progress-gallery__wrapper,
.titlepage__article {
  flex-direction: column
}
.arrow,
.baner,
.baner__picture,
.baner__title,
.card,
.card__btn,
.card__info,
.card__picture,
.check-inputs__inputbox,
.creator-info__logo,
.example,
.example__container,
.icon-menu,
.location,
.location__article,
.menu__icon,
.menu__link,
.menu__list,
.menu__logo,
.progress,
.progress-gallery__image,
.progress__line,
.radio-inputs__inputbox,
.title-decored,
.title-decored span,
.titlepage,
.titlepage__article,
.titlepage__body,
.titlepage__titlebox,
.user-contacts__body .text-inputs__inputbox {
  position: relative
}
.card__info,
.form__inputs,
.location__address,
.location__article,
.location__title,
.main-titlebox,
.menu__item,
.program__article,
.progress-gallery,
.progress-gallery__body,
.progress-gallery__wrapper,
.title-decored,
.titlepage__article,
.usage__card,
.usage__item {
  display: flex
}
.baner__picture,
.baner__title,
.card__btn,
.card__info,
.card__picture,
.creator-info__logo .hover-picture,
.example__container,
.header::before,
.location__article,
.menu__icon,
.menu__list,
.menu__logo,
.progress__thumb,
.title-decored span,
.titlepage__article,
.titlepage__body,
.titlepage__titlebox {
  z-index: 2
}
.baner__title,
.card__specs,
.card__text,
.creator-info,
.example__text,
.form__subtext,
.location__address,
.product-list__specs,
.program-info__item:not(.item--price) .program-info__concept,
.program__text,
.usage__text {
  font-family: Arial,Helvetica,sans-serif;
  color: var(--text-color,#000)
}
.check-inputs__inputbox label,
.extra-products__body,
.product-list__item,
.product-list__specs,
.radio-inputs__inputbox label,
.text-inputs__inputbox {
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em
}
.btn,
.creator-info__logo .hover-picture,
.menu,
.menu__link:before {
  transition: all .3s linear
}
.check-inputs__inputbox input,
.product-list__item,
.radio-inputs__inputbox input,
.specs__value {
  opacity: 0;
  visibility: hidden
}
.card-loaded .specs__value,
.product-list__item.step-animate {
  opacity: 1;
  visibility: visible
}
.card,
.cardboard__body,
.example__body,
.extra-order__body,
.extra-products__body,
.form__actionbox,
.form__program,
.product-list__item,
.program__container,
.specs,
.titlepage__body,
.titlepage__container,
.usage__body,
.user-contacts__body {
  display: grid
}
.check-inputs__inputbox label::before,
.comment__body textarea,
.form__inputs.radio-inputs,
.radio-inputs__inputbox label::before,
.text-inputs__inputbox input {
  border: .0625rem solid var(--border-color,#cdcdcd)
}
.form__actionbox,
.form__program,
.user-contacts__body {
  row-gap: 1em
}
* img {
  max-width: 100%
}
a,
button,
label,
label::before {
  -webkit-tap-highlight-color: transparent
}
[class$=__container] {
  flex-shrink: 0
}
.page>*:first-child {
  padding-top: var(--header-size,72px)
}
.btn {
  background-color: var(--theme-color,green);
  color: var(--btn-text-color,#fff);
  line-height: 125%;
  text-transform: uppercase;
  padding: .625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center
}
.btn.btn-grey {
  background-color: var(--theme-second-color,#f2f2f2);
  color: var(--text-color,#444)
}
.main-titlebox__title {
  line-height: 100%
}
.main-titlebox__subtitle {
  text-transform: uppercase;
  font-size: 1.25em
}
.section-title {
  line-height: 100%;
  padding-bottom: 2rem
}
.title-decored::before {
  content: "";
  width: 100vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .125rem;
  background-color: var(--theme-color,green);
  position: absolute;
  top: 50%;
  left: 50%
}
.title-decored span {
  background-color: var(--page-bg,#fff);
  padding: 0 1.25rem;
  margin: 0 -1.25rem
}
.location__picture img,
.titlepage__article-image img,
.titlepage__image img {
  display: none
}
.location__picture img.picture-loaded,
.titlepage__article-image img.picture-loaded,
.titlepage__image img.picture-loaded {
  display: block
}
.arrow {
  width: 1.6em;
  height: .2em;
  background-color: #000;
  transition: width .5s linear
}
.arrow::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(100%,-50%);
  transform: translate(100%,-50%);
  right: 0;
  content: "";
  width: 1em;
  height: 1em;
  border: .5em solid transparent;
  border-left: .5em solid #000
}
a.hover>.arrow,
button.hover>.arrow {
  width: 2.2em
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--page-bg,#fff)
}
.header__container {
  padding-top: .625rem;
  padding-bottom: .625rem
}
.menu__list {
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem
}
.menu__link {
  font-size: 1.25em;
  text-transform: uppercase;
  line-height: 150%;
  color: var(--header-nav-color-1,#000);
  padding-bottom: .5rem
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .125rem;
  width: 0%;
  background-color: var(--theme-color,green)
}
.menu__link.active-link::before {
  width: 100%
}
.logo>* {
  display: none
}
.logo__icon {
  max-width: 2.08125rem
}
.icon-menu {
  display: none;
  overflow: hidden;
  width: 1.5rem;
  height: 1em
}
.icon-menu::after,
.icon-menu::before {
  content: ""
}
.icon-menu::after,
.icon-menu::before,
.icon-menu>span {
  display: block;
  position: absolute;
  width: 100%;
  height: .125rem;
  background-color: var(--header-nav-color-1,#000);
  border-radius: .125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all .5s linear 0s
}
.icon-menu::before {
  top: 0
}
.icon-menu::after {
  bottom: 0
}
.icon-menu>span {
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.menu-open .icon-menu>span {
  opacity: 0;
  visibility: hidden
}
.menu-open .icon-menu::before {
  top: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg)
}
.menu-open .icon-menu::after {
  bottom: 50%;
  -webkit-transform: translate(-50%,50%) rotate(-45deg);
  transform: translate(-50%,50%) rotate(-45deg)
}
.footer {
  background-color: var(--theme-second-color,grey)
}
.footer__logo {
  max-width: 8rem
}
.social-list {
  justify-content: center
}
.social-list__link {
  color: var(--social-color,#666);
  transition: color .3s linear 0s
}
.social-list__link.hover {
  color: var(--theme-color,green)
}
.icon-vk {
  font-size: 1.375rem
}
.icon-inst {
  font-size: 1.4375rem
}
.icon-face {
  font-size: 2.0625rem
}
.creator-info {
  white-space: nowrap;
  -webkit-column-gap: 1.375em;
  -moz-column-gap: 1.375em;
  column-gap: 1.375em
}
.creator-info__logo .hover-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden
}
.creator-info.hover .hover-picture {
  opacity: 1;
  visibility: visible
}
.titlepage::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/titlepage-bg-image.webp) center/cover no-repeat,var(--theme-color)
}
.titlepage__container {
  min-height: calc(100vh - var(--header-size,72px));
  grid-template-rows: 1fr
}
.titlepage__body {
  padding: 1rem 0;
  min-width: 100%
}
.titlepage__btn.btn {
  padding: .875em 1.625em
}
.titlepage__btn.btn span {
  line-height: 130%;
  font-size: 1.25em
}
.titlepage__article-image,
.titlepage__article-image>img {
  width: 100%
}
.program__body {
  background-color: var(--theme-second-color,grey);
  display: flex
}
.program__titlebox {
  -webkit-column-gap: 1.25em;
  -moz-column-gap: 1.25em;
  column-gap: 1.25em;
  margin-bottom: 1em
}
.program__title {
  line-height: 100%;
  text-transform: uppercase
}
.program__text {
  flex-grow: 1;
  margin-bottom: 1.4375rem
}
.program__link {
  -webkit-column-gap: 1.25em;
  -moz-column-gap: 1.25em;
  column-gap: 1.25em;
  text-transform: uppercase
}
.program__link .arrow {
  font-size: .5em
}
.program__image,
.program__title-image {
  flex-shrink: 0
}
.program__image img,
.program__title-image img {
  height: 100%
}
.program__image {
  display: none
}
.usage__body {
  list-style: none;
  counter-reset: usage-counter
}
.usage__picture {
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--theme-color,green)
}
.example:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--theme-second-color,grey)
}
.example__text {
  padding-bottom: 1.5625em
}
.program-info {
  align-items: start
}
.program-info__item:not(.item--price) {
  display: flex;
  flex-direction: column-reverse;
  text-align: center
}
.program-info__item:not(.item--price) .program-info__concept {
  font-size: .875em;
  text-transform: lowercase;
  padding: 0 .3125rem;
  background-color: var(--page-bg,#fff);
  margin-top: -.7em;
  margin-right: .625rem;
  margin-left: .625rem;
  align-self: center
}
.program-info__item:not(.item--price) .program-info__definition {
  font-size: 1.875em;
  line-height: 123%;
  padding: .9375rem;
  padding-bottom: 1.25rem;
  border-radius: .1875rem;
  border: solid .0625rem var(--border-color,#cdcdcd)
}
.program-info__item.item--price {
  font-size: 1.25em;
  line-height: 100%;
  text-transform: uppercase
}
.progress-gallery__image {
  transition: width .05s linear
}
.progress-click .progress-gallery__image {
  transition: width var(--progress-click-time,0s) linear
}
.progress-gallery {
  row-gap: 1em
}
.progress-gallery__wrapper {
  flex-grow: 1
}
.progress-gallery__body {
  flex-direction: row-reverse
}
.progress-gallery__image {
  overflow: hidden;
  height: 100%
}
.progress-gallery__image img {
  max-width: none;
  position: absolute;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  height: 100%
}
.progress-gallery__image-after {
  width: var(--slide-balance,0)
}
.progress-gallery__image-after img {
  left: 0
}
.progress-gallery__image-before {
  width: calc(100% - var(--slide-balance,0px))
}
.progress-gallery__image-before img {
  right: 0
}
.progress-gallery__controls {
  font-size: 1.25em;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em
}
.btn-after,
.btn-before {
  text-transform: uppercase
}
.progress__box,
.progress__line,
.progress__line::after,
.progress__line::before {
  border-radius: .375rem
}
.progress {
  flex-grow: 1;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.progress__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer
}
.progress__box {
  pointer-events: none;
  flex-grow: 1;
  height: 100%
}
.progress__line {
  width: 100%;
  height: .375rem
}
.progress__line::after,
.progress__line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  background-color: var(--theme-color,green);
  min-width: 0
}
.progress__line::before {
  right: 50%;
  width: calc(50% - var(--slide-balance,0px))
}
.progress__line::after {
  left: 50%;
  width: calc(var(--slide-balance,0px) - 50%)
}
.progress__thumb {
  left: var(--slide-balance,50%);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  justify-content: center
}
.progress__thumb::before {
  content: "";
  background-color: var(--theme-color,green)
}
.location__article {
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em
}
.location__article>* {
  flex-basis: 10.3125rem
}
.location__title {
  font-size: 1.25em;
  line-height: 125%;
  text-transform: uppercase
}
.location__address {
  font-style: normal
}
.location__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.cardboard__container {
  padding-top: 1rem;
  padding-bottom: 1rem
}
.card {
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  row-gap: 1.3125rem
}
.card__text {
  text-align: center;
  flex-grow: 1
}
.card__info {
  justify-content: space-between;
  row-gap: 1.3125em
}
.card__title {
  font-size: 1.25em;
  text-transform: uppercase;
  line-height: 105%
}
.card__title>span {
  white-space: nowrap
}
.card__picture {
  min-height: 6.375rem
}
.card__picture img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-object-fit: contain;
  object-fit: contain;
  width: 3.75rem;
  height: 3.75rem;
  bottom: 1.25rem
}
.card:not(.show-more) .card__picture img:first-child {
  -webkit-animation: rotate 1s linear infinite forwards;
  animation: rotate 1s linear infinite forwards
}
.card:not(.show-more) .card__picture img:last-child {
  width: 100%;
  height: 100%;
  bottom: 0;
  display: none
}
.card.card-loaded .card__picture img:first-child {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  display: none
}
.card.card-loaded .card__picture img:last-child {
  display: block
}
.specs {
  row-gap: .3125rem
}
.specs__item {
  justify-content: space-between
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0)
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg)
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0)
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg)
  }
}
.extra-products__body {
  grid-template-columns: 1fr
}
.product-list__item {
  align-items: center;
  padding: 1rem 0;
  border: .0625rem solid var(--border-color,#cdcdcd);
  border-left: none;
  border-right: none;
  row-gap: 1rem
}
.product-list__item.step-animate {
  transition: all .2s linear
}
.product-list__name {
  font-size: 1.25em;
  text-transform: uppercase
}
.product-list__specs {
  justify-content: space-between
}
.baner {
  justify-content: space-between;
  row-gap: 1rem
}
.baner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color,green)
}
.baner__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.baner__bg .picture-desktop,
.baner__bg .picture-mobile {
  display: none
}
.baner__title {
  max-width: 10.0625rem;
  text-align: center;
  color: var(--page-bg,#fff)
}
.program-form__titlebox {
  max-width: 27.1875rem
}
.check-inputs__inputbox input,
.radio-inputs__inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0
}
.check-inputs__inputbox label,
.radio-inputs__inputbox label {
  text-transform: uppercase
}
.check-inputs__inputbox label::before,
.radio-inputs__inputbox label::before {
  width: 2em;
  height: 2em;
  justify-content: center;
  color: transparent
}
.check-inputs__inputbox input:checked~label:before,
.radio-inputs__inputbox input:checked~label:before {
  color: var(--theme-color,green)
}
.form {
  font-size: 1.25em
}
.form__inputs {
  row-gap: 1em;
  justify-content: space-between
}
.form__inputs.radio-inputs {
  padding: 1.25em 1.4em
}
.form__subtext {
  font-size: .8em;
  align-content: center
}
.text-inputs__inputbox label {
  white-space: nowrap;
  color: var(--text-color,#444);
  text-transform: uppercase
}
.text-inputs__inputbox input {
  height: 2.6em;
  padding: 1rem
}
.radio-inputs {
  row-gap: .75em
}
.radio-inputs__inputbox label::before {
  border-radius: 50%
}
.user-contacts__body input {
  padding-right: 2em
}
.user-contacts__body .text-inputs__inputbox::before {
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none
}
.comment__body textarea {
  resize: none;
  min-height: 10.875rem;
  padding: 1rem
}
.extra-order__body {
  row-gap: 1em;
  justify-content: space-between
}
@media (min-width:30.03125em) {
  .baner__title,
  .card__specs,
  .card__text,
  .creator-info,
  .example__text,
  .form__subtext,
  .location__address,
  .product-list__specs,
  .program-info__item:not(.item--price) .program-info__concept,
  .program__text,
  .usage__text {
    line-height: 150%
  }
  .example,
  .extra-products,
  .usage {
    padding-top: calc(var(--header-size,72px) + 1em)
  }
  .menu {
    justify-content: space-between;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem
  }
  .menu__body {
    justify-content: flex-end
  }
  .footer__body {
    justify-content: space-between
  }
  .creator-info {
    max-width: 10.1875rem
  }
  .titlepage__body {
    align-items: center
  }
  .titlepage__article {
    align-items: start
  }
  .titlepage__article-image {
    display: none
  }
  .program__title {
    font-size: 2.25em
  }
  .program__link {
    font-size: 1.25em
  }
  .usage__body {
    row-gap: 2.3125em
  }
  .usage__item {
    position: relative;
    counter-increment: usage-counter
  }
  .usage__item:before {
    content: counter(usage-counter);
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--theme-second-color,grey);
    font-size: 12.5em;
    opacity: 0;
    visibility: hidden
  }
  .usage__item.step-animate::before {
    opacity: 1;
    visibility: visible;
    transition: all .2s linear
  }
  .usage__card {
    flex-direction: column;
    row-gap: 1.9375em;
    padding-top: 2.5em;
    position: relative;
    z-index: 2
  }
  .usage__picture {
    width: 5em;
    height: 5em
  }
  .progress-gallery__controls {
    margin-bottom: -.5em
  }
  .btn-after,
  .btn-before {
    margin-bottom: -.5em;
    padding-bottom: .5em;
    border-bottom: .0625rem dotted var(--border-color,grey)
  }
  .btn-after.hover,
  .btn-before.hover {
    border-bottom: .0625rem solid var(--border-color,grey)
  }
  .progress {
    font-size: 2.125rem;
    height: 1em
  }
  .progress__line {
    background-color: var(--theme-fourth-color,grey)
  }
  .progress__thumb,
  .progress__thumb::before {
    border-radius: 50%
  }
  .progress__thumb {
    height: 1em;
    width: 1em;
    background-color: var(--page-bg,#fff);
    border: .0625rem solid var(--border-color,grey)
  }
  .progress__thumb::before {
    width: .2353em;
    height: .2353em
  }
  .location__article {
    padding: 3.875em 0
  }
  .location__address {
    row-gap: 1em;
    justify-content: space-between
  }
  .cardboard__body {
    grid-auto-rows: 1fr
  }
  .card {
    padding: 2.5em 2.1875em;
    padding-top: 0;
    grid-template-rows: auto 1fr auto
  }
  .card::before {
    content: "";
    height: 81.16%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: .125rem solid var(--theme-second-color,grey)
  }
  .card:not(.show-more)::before {
    background-color: var(--theme-second-color,grey)
  }
  .card__info {
    margin-bottom: 1rem
  }
  .card__title {
    text-align: center
  }
  .specs__item {
    padding-bottom: .5em;
    border-bottom: .0625rem solid var(--border-color,#585656)
  }
}
@media (min-width:30.03125em)and (min-height:30.03125em) {
  .main-titlebox {
    row-gap: 2.5em
  }
  .comment__body,
  .extra-order__body,
  .extra-products__body,
  .form__program,
  .user-contacts__body {
    padding-top: 4.125em
  }
  .comment__body,
  .example__body,
  .extra-order__body,
  .extra-products__body,
  .form__actionbox,
  .form__program,
  .user-contacts__body {
    padding-bottom: 4.125em
  }
}
@media (any-hover:hover)and (min-width:30.03125em) {
  .btn-after:hover,
  .btn-before:hover {
    border-bottom: .0625rem solid var(--border-color,grey)
  }
  .progress__box:hover .progress__thumb {
    border: .0625rem solid var(--theme-color,green)
  }
}
@media (min-width:48.03125em) {
  .form__actionbox,
  .form__program,
  .user-contacts__body {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 6.557%;
    -moz-column-gap: 6.557%;
    column-gap: 6.557%
  }
  .menu__list {
    flex-wrap: wrap
  }
  .social-list {
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    column-gap: 1.5em
  }
  .titlepage::before {
    width: 50%;
    height: 100%
  }
  .titlepage__body {
    grid-template-columns: 1fr 1fr
  }
  .titlepage__image {
    max-width: 34.5rem;
    -webkit-transform: translateX(-29.347%);
    transform: translateX(-29.347%)
  }
  .program__container {
    padding-top: calc(var(--header-size,72px) + 2em);
    transition: padding-top .5s linear;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 6.557%;
    -moz-column-gap: 6.557%;
    column-gap: 6.557%
  }
  .program__title {
    flex-grow: 1;
    text-align: center
  }
  .program__title-image {
    height: calc(6.25em + 6.25em*var(--align-height,0));
    margin-top: calc(-1*6.25em*var(--align-height,0));
    margin-left: calc(-1*6.25em*var(--align-position,0));
    margin-right: calc(-1*6.25em*var(--align-position,0))
  }
  .example:before {
    height: 70%
  }
  .example__article {
    flex-basis: 27.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1em
  }
  .example__text {
    padding-top: 1.5625rem;
    min-height: 9.125rem
  }
  .program-info {
    max-width: 22.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2.625em;
    -moz-column-gap: 2.625em;
    column-gap: 2.625em;
    row-gap: 3.4375em
  }
  .program-info__item:not(.item--price) .program-info__concept {
    background-color: var(--theme-second-color,grey)
  }
  .program-info__item.item--price {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center
  }
  .progress-gallery__body {
    flex-grow: 1
  }
  .location {
    padding: 6.25em 0;
    background-color: var(--page-bg,#fff)
  }
  .location__article {
    width: min(570px,50%);
    justify-content: space-evenly;
    background-color: var(--page-bg,#fff)
  }
  .location__title {
    row-gap: 1em;
    justify-content: space-between
  }
  .location__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
  .location__picture .picture-mobile {
    display: none
  }
  .card__picture {
    padding-bottom: 12rem
  }
  .extra-products__body {
    grid-template-columns: 1fr 15.3125rem
  }
  .product-list__item {
    grid-template-columns: 1fr 1fr 1fr
  }
  .baner {
    padding: 3.5em 2.6875em 2.625em 2.5625em
  }
  .baner__bg .picture-desktop.picture-loaded {
    display: block
  }
}
@media (min-width:62.03125em) {
  .page>*:first-child {
    padding-top: 7.125rem
  }
  .example,
  .extra-products,
  .usage {
    transition: padding-top .5s linear,padding-bottom .5s linear
  }
  .header.header-first-page-view::before {
    background-color: rgba(0,0,0,0)
  }
  .header-top .menu {
    padding-top: 2.1875em
  }
  .header-first-page-view .menu__body {
    flex-basis: calc(50% - 1rem)
  }
  .header-first-page-view .menu__link {
    color: var(--header-nav-color-2,#fff)
  }
  .header-first-page-view .menu__link::before {
    background-color: var(--header-nav-color-2,#fff)
  }
  .logo__desktop {
    display: block;
    max-width: 12.625rem
  }
  .titlepage__container {
    min-height: calc(100vh - 7.125rem)
  }
  .titlepage__article {
    width: 25.9375rem;
    padding-top: 5.125rem
  }
  .titlepage__titlebox {
    margin-bottom: 3.25em
  }
  .program__body {
    padding: 2.5625em 3.1875em 3.4375em 3.25em
  }
  .example {
    min-height: 100vh
  }
  .example__body {
    grid-template-columns: 27.25rem 1fr;
    -webkit-column-gap: 10.9836%;
    -moz-column-gap: 10.9836%;
    column-gap: 10.9836%
  }
  .cardboard__body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 6.55%;
    -moz-column-gap: 6.55%;
    column-gap: 6.55%
  }
  .card__title {
    padding: 0 1em
  }
  .extra-order__body {
    grid-template-columns: auto auto auto auto
  }
}
@media (min-width:67.53125em) {
  .usage__body {
    grid-template-columns: 15.15625em 15.15625em 15.15625em 15.15625em;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    justify-content: space-between;
    padding-bottom: 1rem
  }
}
@media (min-width:78.75em) {
  [class$=__container] {
    font-size: 1rem
  }
  .main-titlebox__title {
    font-size: 3.75rem
  }
  .section-title {
    font-size: 3.75rem
  }
  .title-decored span {
    font-size: 2.25rem
  }
  .menu__list {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem
  }
  .footer__body {
    padding-top: 3.625rem
  }
  .footer__body {
    padding-bottom: 3.625rem
  }
  .cardboard__body {
    row-gap: 3.9375rem
  }
}
@media (max-width:62em)and (min-height:48.03125em) {
  .titlepage__container {
    min-height: 0
  }
}
@media (max-width:48em) {
  .form__actionbox,
  .form__program,
  .user-contacts__body {
    grid-template-columns: 1fr
  }
  .header.header-hide {
    display: none
  }
  .menu__body {
    align-items: start;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    transition: top .5s linear 0s;
    background: url(../img/titlepage-bg-image.webp) center/cover no-repeat,var(--theme-color);
    padding: calc(var(--header-size,90px) + 1em) 0 1.25rem 1.25rem
  }
  .menu-open .menu__body {
    top: 0
  }
  .menu__list {
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    row-gap: 1.5em;
    padding-right: 1.25rem
  }
  .menu__link {
    color: var(--header-nav-color-2,#fff)
  }
  .menu__link::before {
    background-color: var(--header-nav-color-2,#fff)
  }
  .icon-menu {
    display: block
  }
  .social-list {
    -webkit-column-gap: 1.25em;
    -moz-column-gap: 1.25em;
    column-gap: 1.25em
  }
  .titlepage__image,
  .titlepage__image>img {
    width: 100%
  }
  .program__container {
    row-gap: 1.875em
  }
  .usage__body {
    padding-bottom: 2.9375em
  }
  .example__body {
    row-gap: 2.625em
  }
  .program-info {
    display: flex;
    -webkit-column-gap: 5.77%;
    -moz-column-gap: 5.77%;
    column-gap: 5.77%
  }
  .program-info__item.item--price {
    display: flex
  }
  .location.page-bg {
    background-color: var(--page-bg,#fff)
  }
  .location.theme-bg {
    background-color: var(--theme-second-color,#f2f2f2)
  }
  .location__article {
    justify-content: space-between
  }
  .location__picture {
    position: relative
  }
  .location__picture .picture-desktop {
    display: none
  }
  .form__subtext {
    text-align: center
  }
}
@media (max-width:48em)and (max-height:48em) {
  .menu__body {
    height: 100vh
  }
}
@media (max-width:48em)and (min-height:48.03125em) {
  .menu__body {
    border-bottom: .125rem solid var(--header-nav-color-2,#fff);
    height: 50vh
  }
}
@media (max-width:48em)and (max-height:30em) {
  .titlepage__image>img {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;
    width: auto
  }
}
@media (max-width:30em) {
  .baner__title,
  .card__specs,
  .card__text,
  .creator-info,
  .example__text,
  .form__subtext,
  .location__address,
  .product-list__specs,
  .program-info__item:not(.item--price) .program-info__concept,
  .program__text,
  .usage__text {
    line-height: 128.57%
  }
  .main-titlebox {
    row-gap: 1.5625em
  }
  .example,
  .extra-products,
  .usage {
    padding-top: 1.6875rem
  }
  .comment__body,
  .extra-order__body,
  .extra-products__body,
  .form__program,
  .user-contacts__body {
    padding-top: 2em
  }
  .comment__body,
  .example__body,
  .extra-order__body,
  .extra-products__body,
  .form__actionbox,
  .form__program,
  .user-contacts__body {
    padding-bottom: 2em
  }
  .logo {
    flex-grow: 1
  }
  .logo__mobile {
    display: flex;
    align-items: center
  }
  .logo__text {
    flex-grow: 1;
    display: flex;
    justify-content: center
  }
  .logo__text>* {
    max-width: 6.375rem
  }
  .footer__body {
    flex-direction: column
  }
  .footer__body>*:not(:first-child) {
    padding: 1.25rem 0;
    position: relative;
    align-self: stretch
  }
  .footer__body>*:not(:first-child)::before {
    content: "";
    width: 100%;
    height: .0625rem;
    background-color: var(--theme-third-color,#d9d9d9);
    position: absolute;
    top: 0;
    left: 0
  }
  .footer__body>*:last-child {
    padding-bottom: 0
  }
  .footer__logo {
    margin-bottom: 2em
  }
  .footer__creator-info {
    justify-content: space-between
  }
  .titlepage::before {
    width: 100%;
    height: 67.411%
  }
  .titlepage__article {
    justify-content: space-between
  }
  .titlepage__titlebox {
    color: var(--header-nav-color-2,#fff);
    text-align: center;
    margin-bottom: 1.8125em
  }
  .titlepage__btn.btn {
    padding: .625em 1.625em;
    text-align: center;
    justify-content: center
  }
  .titlepage__image {
    display: none
  }
  .program__body {
    padding: 1.25em
  }
  .program__title {
    font-size: 1.5em
  }
  .program__text {
    padding-bottom: 1.4375rem;
    position: relative
  }
  .program__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .0625rem;
    background-color: var(--theme-third-color,#d9d9d9)
  }
  .program__title-image {
    height: calc(3.125em + 3.125em*var(--align-height,0));
    margin-top: calc(-1*3.125em*var(--align-height,0));
    margin-left: calc(-1*3.125em*var(--align-position,0));
    margin-right: calc(-1*3.125em*var(--align-position,0))
  }
  .usage__body {
    row-gap: 1.25em
  }
  .usage__card {
    -webkit-column-gap: 1.25em;
    -moz-column-gap: 1.25em;
    column-gap: 1.25em
  }
  .usage__picture {
    width: 3.75em;
    height: 3.75em
  }
  .example:before {
    height: 100%
  }
  .program-info__item:not(.item--price) {
    flex: 0 1 7.75rem
  }
  .program-info__item:not(.item--price) .program-info__concept {
    background-color: var(--theme-second-color,grey)
  }
  .progress {
    height: .875rem;
    border-radius: .375rem
  }
  .progress__box {
    outline: .25rem solid var(--page-bg,#fff);
    height: .375rem;
    padding: 0 .25rem;
    background-color: var(--page-bg,#fff)
  }
  .progress__thumb,
  .progress__thumb::before {
    border-radius: .375rem
  }
  .progress__thumb::before {
    width: calc(.375rem*1.2);
    height: .375rem
  }
  .location__article {
    padding: 1.5625em 0
  }
  .location__picture {
    aspect-ratio: 1/1
  }
  .cardboard__body {
    grid-template-columns: 1fr;
    margin-right: -1.25rem;
    margin-left: -1.25rem
  }
  .card {
    padding: 1.375em 1.25rem;
    border: .0625rem solid var(--border-color,#585656);
    border-right: none;
    border-left: none
  }
  .card:not(.show-more) {
    grid-template-columns: 1fr 1fr
  }
  .show-more .card__title {
    text-align: center
  }
  .card__btn {
    grid-column: 1/3
  }
  .show-more .card__btn {
    grid-column: auto
  }
  .extra-products__body {
    row-gap: 2em;
    grid-template-rows: 1fr 18.0625rem
  }
  .product-list__item {
    grid-template-columns: 1fr
  }
  .baner {
    padding: 3.5em 2.6875em 2.625em 2.5625em
  }
  .baner__bg .picture-desktop.picture-loaded {
    display: block
  }
}
@media (max-width:30em)and (max-height:48em) {
  .titlepage__article-image {
    position: relative;
    display: block;
    height: 0;
    flex-grow: 1
  }
  .titlepage__article-image>img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 70vh;
    -o-object-fit: cover;
    object-fit: cover
  }
}
@media (max-width:20em) {
  [class$=__container] {
    font-size: .875rem
  }
  .main-titlebox__title {
    font-size: 2.5rem
  }
  .section-title {
    font-size: 2.5rem
  }
  .title-decored span {
    font-size: 1.5rem
  }
  .menu__list {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem
  }
  .footer__body {
    padding-top: 1.375rem
  }
  .footer__body {
    padding-bottom: 1.375rem
  }
  .cardboard__body {
    row-gap: 1.25rem
  }
}
@media (max-width:37.5em) {
  .program-info {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.5625em
  }
  .program-info__item.item--price {
    display: flex;
    justify-content: center;
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem
  }
}
@media (min-width:20em)and (max-width:78.75em) {
  [class$=__container] {
    font-size: clamp(.875rem ,.8324468085rem + .2127659574vw ,1rem)
  }
  .main-titlebox__title {
    font-size: clamp(2.5rem ,2.0744680851rem + 2.1276595745vw ,3.75rem)
  }
  .section-title {
    font-size: clamp(2.5rem ,2.0744680851rem + 2.1276595745vw ,3.75rem)
  }
  .title-decored span {
    font-size: clamp(1.5rem ,1.2446808511rem + 1.2765957447vw ,2.25rem)
  }
  .menu__list {
    -webkit-column-gap: clamp(1rem ,.5957446809rem + 2.0212765957vw ,2.1875rem);
    -moz-column-gap: clamp(1rem ,.5957446809rem + 2.0212765957vw ,2.1875rem);
    column-gap: clamp(1rem ,.5957446809rem + 2.0212765957vw ,2.1875rem)
  }
  .footer__body {
    padding-top: clamp(1.375rem ,.6090425532rem + 3.829787234vw ,3.625rem)
  }
  .footer__body {
    padding-bottom: clamp(1.375rem ,.6090425532rem + 3.829787234vw ,3.625rem)
  }
  .cardboard__body {
    row-gap: clamp(1.25rem ,.335106383rem + 4.5744680851vw ,3.9375rem)
  }
}
@media (min-width:30.03125em)and (max-width:48em) {
  .menu__list {
    align-items: flex-end
  }
  .titlepage__article {
    width: 25.9375rem
  }
  .program__body {
    padding: 4.8125em 1.75em 3.3125em 3.25em;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em
  }
  .program__title-image {
    display: none
  }
  .program__image {
    display: block;
    align-self: center;
    height: calc(12.5em + 12.5em*var(--align-height,0));
    margin-top: calc(-1*12.5em*var(--align-height,0))
  }
  .usage {
    border-bottom: .125rem solid var(--theme-second-color,grey)
  }
  .usage__body {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 18.81868%;
    -moz-column-gap: 18.81868%;
    column-gap: 18.81868%
  }
  .example:before {
    padding-bottom: 60%
  }
  .example__text {
    padding-bottom: 3.375em
  }
  .program-info__item:not(.item--price) {
    flex: 0 1 10.125rem
  }
  .location__address {
    align-items: end;
    text-align: right
  }
  .location__picture {
    aspect-ratio: 768/400
  }
  .cardboard__body {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 8.24%;
    -moz-column-gap: 8.24%;
    column-gap: 8.24%
  }
  .card__picture {
    padding-bottom: 10.75rem
  }
  .extra-products__body {
    row-gap: var(--header-size,72px);
    grid-template-rows: 1fr 12.5rem
  }
  .product-list__item {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border-left: .0625rem solid var(--border-color,#cdcdcd);
    border-right: .0625rem solid var(--border-color,#cdcdcd)
  }
  .product-list__specs {
    -webkit-column-gap: 3.5625em;
    -moz-column-gap: 3.5625em;
    column-gap: 3.5625em;
    justify-content: flex-end
  }
  .product-list__btn {
    grid-column: 1/3
  }
  .baner {
    flex-direction: row;
    padding: 1em 10vw 1em 10vw
  }
  .baner__bg .picture-mobile.picture-loaded {
    display: block
  }
  .baner__title {
    text-align: left
  }
}
@media (min-width:30.03125em)and (max-width:62em) {
  .logo__tablet {
    display: block
  }
  .extra-order__body {
    grid-template-columns: auto auto
  }
}
@media (min-width:30.03125em)and (max-width:62em)and (min-height:30.03125em) {
  .titlepage__titlebox {
    margin-bottom: 3.0625em
  }
}
@media (min-width:30.03125em)and (max-width:48em)and (min-height:30.03125em) {
  .titlepage__image {
    margin-top: -5.1875rem
  }
}
@media (min-width:48.03125em)and (max-width:62em) {
  .program__body {
    padding: 2.5625em 1.9375em 3.4375em 2em
  }
  .usage__item::before {
    font-size: 11.25em
  }
  .usage__picture {
    width: 4em;
    height: 4em
  }
  .example__body {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem
  }
  .cardboard__body {
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 7%;
    -moz-column-gap: 7%;
    column-gap: 7%
  }
}
@media (min-width:48.03125em)and (max-width:67.5em) {
  .usage__body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 5.5%;
    -moz-column-gap: 5.5%;
    column-gap: 5.5%
  }
}
@media (min-width:37.53125em)and (max-width:48em) {
  .program-info__item.item--price {
    flex-grow: 1;
    flex-direction: column;
    align-items: end;
    row-gap: .5625rem
  }
}
@media (min-width:62.03125em)and (max-width:67.5em) {
  .card__picture {
    margin: 0 -1rem
  }
}
@media (any-hover:hover) {
  .btn.hover,
  .btn:hover {
    background-color: var(--btn-hover,#5eaa2f);
    color: var(--btn-text-color,#fff)
  }
  a:hover>.arrow,
  button:hover>.arrow {
    width: 2.2em
  }
  .menu__link {
    transition: opacity .5s linear
  }
  .menu__link:hover {
    opacity: .6
  }
  .social-list__link:hover {
    color: var(--theme-color,green)
  }
  .creator-info:hover .hover-picture {
    opacity: 1;
    visibility: visible
  }
}
@media (any-hover:none) {
  .btn.hover {
    background-color: var(--btn-hover,#5eaa2f);
    color: var(--btn-text-color,#fff)
  }
}
@media (max-height:30em) {
  .main-titlebox {
    row-gap: 1.8125em
  }
  .comment__body,
  .extra-order__body,
  .extra-products__body,
  .form__program,
  .user-contacts__body {
    padding-top: 2em
  }
  .comment__body,
  .example__body,
  .extra-order__body,
  .extra-products__body,
  .form__actionbox,
  .form__program,
  .user-contacts__body {
    padding-bottom: 2em
  }
  .titlepage__titlebox {
    margin-bottom: 1.8125em
  }
  .progress-gallery__body {
    min-height: calc(100vh - var(--header-size,72px))
  }
}
@media (min-height:30.03125em) {
  .progress-gallery__body {
    aspect-ratio: 311/232
  }
}